.App {
  max-width: 468px;
  padding: 1rem;
  background: #eee;
  margin: auto;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.App .user-list {
  list-style: none;
  padding: 1rem 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  background: #ddd;
  text-align: left;
}

/* User */
li.user {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
  opacity: 0.1;
  animation: fadeOut 500ms forwards ease-in;
}

li.user:hover {
  background: #ccc;
}

li.attr {
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}

li.attr:hover {
  background: none;
}

/* Form */
.form-add-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Input */
.input-custom {
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem 0.3rem;
}

/* Buttons */
.btn-custom {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  background: #ffd700;
  border: 1px solid #d8b72f;
  color: #333;
  border-radius: 5px;
}
.btn-delete {
  position: absolute;
  left: -20px;
}
.btn-custom:hover {
  color: #ffd700;
  background: #333;
  border-color: transparent;
}
.btn-custom:disabled {
  cursor: not-allowed;
  background: #ccc;
  color: #888;
  border: #ccc;
  box-shadow: none;
}

.btn-custom:disabled:hover,
.btn-custom:disabled:active {
  background: #ccc;
  color: #888;
  border: #ccc;
}

@keyframes fadeOut {
  to {
    opacity: 1;
  }
}
